
a {
  text-decoration: none;
  color:black;
}
.video-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  column-gap:15px;
  row-gap:40px;
 }

 .thumbnail-picture{
  width:100%;
  margin-bottom:10px;
  cursor:pointer;
}
.video-topic{
  font-weight:500;
  font-size:14px;
  width:220px;
  margin-bottom:5px;
  cursor:pointer;
  line-height:20px;
}
.video-author,.video-stats{
  color:grey;
  font-size:12px;
  margin-bottom:3px;
}

.video-author{
  cursor:pointer;
}
.video-info{
  display:flex;
}
.channel-picture{
  width:36px;
  height:36px;
  border-radius:18px;
  margin-right:10px;
  cursor:pointer;
}
.thumbnail-container{
  position:relative;
}

.time-stamp{
  position:absolute;
  bottom:20px;
  right:5px;
  background:black;
  color:white;
  font-size:12px;
  padding:3px;
  font-weight:500;
 }


 @media (max-width:750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
 }

 @media (min-width:751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
 }

 @media (min-width:1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
 }